flexodesktop/externalmodels/flexowsdl/src/test/resources/ContainerTrackingWebService.asmx.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vit.org/WebServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.vit.org/WebServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vit.org/WebServices/">
      <s:import namespace="http://tempuri.org/ContainerInquiryHistory.xsd"/>
      <s:import schemaLocation="http://www.vit.org/WebServices/ContainerTrackingWebService.asmx?schema=ContainerInquiryHistory" namespace="http://tempuri.org/ContainerInquiryHistory.xsd"/>
      <s:element name="GetContainerData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="containerID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContainerDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContainerDataResult" type="tns:ContainerTrackingInfo"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ContainerTrackingInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContainerID" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Terminal" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Customs" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="DeliveryOrderDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="EquipStatus" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Vessel" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Voyage" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="InYard" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="Frieght" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="MountOrder" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ReadyDate" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ImportExport" type="s:string"/>
          <s:element minOccurs="0" maxOccurs="1" name="ReportDate" type="s:string"/>
        </s:sequence>
      </s:complexType>
      <s:element name="GetContainerHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="containerID" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContainerHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetContainerHistoryResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://tempuri.org/ContainerInquiryHistory.xsd"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContainerTrackingInfo" nillable="true" type="tns:ContainerTrackingInfo"/>
      <s:element name="ContainerInquiryHistory" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any namespace="http://tempuri.org/ContainerInquiryHistory.xsd"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetContainerDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetContainerData"/>
  </wsdl:message>
  <wsdl:message name="GetContainerDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetContainerDataResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContainerHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetContainerHistory"/>
  </wsdl:message>
  <wsdl:message name="GetContainerHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetContainerHistoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetContainerDataHttpPostIn">
    <wsdl:part name="containerID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetContainerDataHttpPostOut">
    <wsdl:part name="Body" element="tns:ContainerTrackingInfo"/>
  </wsdl:message>
  <wsdl:message name="GetContainerHistoryHttpPostIn">
    <wsdl:part name="containerID" type="s:string"/>
  </wsdl:message>
  <wsdl:message name="GetContainerHistoryHttpPostOut">
    <wsdl:part name="Body" element="tns:ContainerInquiryHistory"/>
  </wsdl:message>
  <wsdl:portType name="ContainerTrackingWebServiceSoap">
    <wsdl:operation name="GetContainerData">
      <wsdl:input message="tns:GetContainerDataSoapIn"/>
      <wsdl:output message="tns:GetContainerDataSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetContainerHistory">
      <wsdl:input message="tns:GetContainerHistorySoapIn"/>
      <wsdl:output message="tns:GetContainerHistorySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContainerTrackingWebServiceHttpPost">
    <wsdl:operation name="GetContainerData">
      <wsdl:input message="tns:GetContainerDataHttpPostIn"/>
      <wsdl:output message="tns:GetContainerDataHttpPostOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetContainerHistory">
      <wsdl:input message="tns:GetContainerHistoryHttpPostIn"/>
      <wsdl:output message="tns:GetContainerHistoryHttpPostOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContainerTrackingWebServiceSoap" type="tns:ContainerTrackingWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetContainerData">
      <soap:operation soapAction="http://www.vit.org/WebServices/GetContainerData" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerHistory">
      <soap:operation soapAction="http://www.vit.org/WebServices/GetContainerHistory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContainerTrackingWebServiceSoap12" type="tns:ContainerTrackingWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetContainerData">
      <soap12:operation soapAction="http://www.vit.org/WebServices/GetContainerData" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerHistory">
      <soap12:operation soapAction="http://www.vit.org/WebServices/GetContainerHistory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContainerTrackingWebServiceHttpPost" type="tns:ContainerTrackingWebServiceHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="GetContainerData">
      <http:operation location="/GetContainerData"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContainerHistory">
      <http:operation location="/GetContainerHistory"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContainerTrackingWebService">
    <wsdl:port name="ContainerTrackingWebServiceSoap" binding="tns:ContainerTrackingWebServiceSoap">
      <soap:address location="http://www.vit.org/WebServices/ContainerTrackingWebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="ContainerTrackingWebServiceSoap12" binding="tns:ContainerTrackingWebServiceSoap12">
      <soap12:address location="http://www.vit.org/WebServices/ContainerTrackingWebService.asmx"/>
    </wsdl:port>
    <wsdl:port name="ContainerTrackingWebServiceHttpPost" binding="tns:ContainerTrackingWebServiceHttpPost">
      <http:address location="http://www.vit.org/WebServices/ContainerTrackingWebService.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>